*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-medium{
    font-size: 24px;
}
.center-vh-100 {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.unauthorized-container {
    text-align: center;
    padding: 2rem;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}
.unauthorized-container a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
}
.unauthorized-container a:hover {
    background-color: #0056b3;
}

/* Loading */
/* From Uiverse.io by barisdogansutcu */ 
svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   